@import url("https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Bungee&family=Cutive+Mono&family=Special+Elite&family=Staatliches&family=VT323&display=swap");
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cutive-mono-regular, body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chainprinter";
  src: url("../fonts/chainprinter/Chainprinter.eot"); /* IE9 Compat Modes */
  src: url("../fonts/chainprinter/Chainprinter.eot?#iefix") format("embedded-opentype"), url("../fonts/chainprinter/Chainprinter.woff2") format("woff2"), url("../fonts/chainprinter/Chainprinter.woff") format("woff"), url("../fonts/chainprinter/Chainprinter.ttf") format("truetype"), url("../fonts/chainprinter/Chainprinter.svg#Chainprinter") format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  font-family: "Chainprinter", "Arial", monospace;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: "Chainprinter", "Arial", monospace;
}

:root {
  --maxwidth: 768px;
}

html {
  height: 100vh;
  color: #444;
}
html body {
  font-weight: 700;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
html body a {
  text-decoration: none;
  color: #444;
}
html body a:hover {
  color: black;
}
html body a strong {
  display: block;
}
html body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html body ul li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
html body header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
}
html body header .brand > * {
  display: block;
}
html body header .brand > a {
  font-size: 3em;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  text-decoration: none;
}
html body header .brand > span.name {
  font-family: "Chainprinter", "Arial", monospace;
  font-size: 2em;
}
html body header .brand > span.tagline {
  line-height: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
html body header .brand > span.tagline > span {
  display: block;
}
html body header nav {
  display: inline-block;
  margin-top: 0.5rem;
}
html body header nav a {
  display: block;
  padding: 0.25rem 0;
}
html body header nav a::before {
  content: ">";
  margin-right: 0.75rem;
  display: inline-block;
}
html body main {
  z-index: 1;
  padding-left: 11rem;
  padding-top: 9rem;
}
html body main article {
  position: relative;
  max-width: var(--maxwidth);
}
html body main article h1 {
  margin: 0;
  padding: 0;
}
html body main article#home p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}
html body main article#home p > span {
  display: block;
}
html body footer {
  background: #333;
  color: #eee;
  padding: 2rem;
  border-top: 1px solid #666;
  font-size: 0.7rem;
}
html body footer .footer-grid {
  max-width: var(--maxwidth);
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  gap: 2rem;
}
html body footer .footer-column.footer-right {
  grid-column: 5/6; /* Push to the left by one column */
}
html body footer .footer-heading {
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}
html body footer .footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body footer .footer-column li {
  margin-bottom: 0.5rem;
}
html body footer .footer-column a {
  color: inherit;
  text-decoration: none;
}
html body footer .footer-column a:hover {
  text-decoration: underline;
}
html body footer .footer-codex {
  opacity: 0.7;
  font-family: monospace;
  word-break: break-word;
}

/*# sourceMappingURL=styles.css.map */
